<body>
  <div class="box">
    <h1>Login</h1>
    <form >
      
    <input id="name"   #name1 = 'ngModel' type="text" [(ngModel)] = "name" name = "name" required />
    <div class=" alert " *ngIf=" name1.invalid && name1.touched"> Please enter valid Username</div>
    
    <input id="password"type="password" #pass = 'ngModel' [(ngModel)] = "password" name = "password" required/>
    <div class = " alert "*ngIf = " pass.invalid && pass.touched"> Please enter valid Password</div>
  </form>
    <button ngModel #login = 'ngModel' (click)="Login()">Login</button>
    <div class=" alert " *ngIf = " login.touched"> Please enter valid Credentials</div>

  </div>
</body>